@import "../styles.scss";

.recipe-review {
    p {
        margin: 0;
    }

    .details-wrapper {
        ul {
            padding-left: 1rem;
        }

        li {
            margin: 0;
        }
    }

    .small-details {
        background-color: $white;
        padding: 0.5rem 0.7rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-radius: 1.5rem;

        .icon {
            margin-right: 0.7rem;
        }
    }

    .recipe-image {
        width: 100%;
        border-radius: 2rem;
    }

    .white-wrapper {
        background-color: $white;
        border-radius: 2rem;
        padding: 2rem;
    }

    .comment {
        padding: 1rem 2rem;

        h5 {
            text-decoration: underline;
            text-underline-offset: 5px;
        }
    }
}
