@import "../styles.scss";

.accordion-custom {
    margin-bottom: 1rem;

    h4 {
        margin: 0;
    }
}

.accordion-button:not(.collapsed) {
    color: $secondary;
    background-color: rgba($primary, 0.3);
}

.accordion-button:focus {
    border-color: rgba($primary, 0.4);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba($secondary, 0.3);
}

.row-space-between {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.ingredient-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    .filter-wrapper {
        margin-left: 0;
    }
}

.error-message {
    margin-top: 0.3rem;
}

.h-100 {
    height: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

.no-results {
    flex-grow: 1;
    width: 100%;
    border-radius: 1.8rem;
    border: 2px $primary dashed;
    margin: 3rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.i-search {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    bottom: 1.2rem;
    right: 0.8rem;
    transition: all 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}
