.header-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 20rem;
    height: 100%;
    width: 100%;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 250px;
}

.modal-form-row {
    display: flex;
    flex-direction: column;
}
