.header-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 20rem;
    height: 100%;
    width: 100%;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.h-250 {
    height: 250px;
}

.h-400 {
    height: 320px;
}

.modal-form-row {
    display: flex;
    flex-direction: column;
}

.modal-header,
.modal-footer {
    border: none !important;
}
